@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------

 display none = img / team / score/ field/ inning / final

 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);

    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
}


:root {
    --wp--present--font-size--normal: 16px;
    --wp--present--font-size--huge: 42px;
}

html {
    overflow: hidden;
    overflow-y: auto;
}

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

head {
    display: none;
}

body {
    font-family: "Roboto Condensed", "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #e5decf;
    color: #222;
    line-height: 1;
    font-variant-ligatures: none;
    margin: 0;
}

.game-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
}

.away-team-logo-feed {
    display: flex;
    align-items: center;
    right: 200px;
}

.home-team-logo-feed {
    display: flex;
    align-items: center;
    text-align: right;
}

.game-column {
    padding-left: 15px;
    padding-right: 15px;
}

.team-logo-feed {
    padding-left: 20px;
    padding-right: 10px;
}

.team-location {
    font-size: 1.0rem;
    font-weight: 300;
}

.team-name {
    font-size: 1.5rem;
    font-weight: 600;
}

.score-bug-feed {
    font-family: "Roboto Condensed";
    font-size: 3rem;
    text-align: center;
    font-weight: 300;
}

.home-team {
    padding-right: 10px;
}

.away-team-logo-feed:hover {
    transform: scale(1.1);
}

.home-team-logo-feed:hover {
    transform: scale(1.1);
}

#scoreboard {
  display: flex;
  width: 25rem; /* Define a fixed width */
  height: auto; /* Let height adjust based on content */
  padding-top: 1rem;
  flex-shrink: 0; /* Prevent resizing */
  margin-left: 20.5rem;
}

#scoreboard .game {
  width: 33.35rem;
  height: 35.875rem;
  padding: 1.5rem;
  border: solid 2px #006c54;
  z-index: 1000;
  background-color: white;
  margin: 0 auto;
}

#scoreboard table {
  font-family: "Roboto Condensed";
  font-size: 14px;
  border: none;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
}

#scoreboard .score {
  font-size: 1rem;
  text-align: center;
  min-width: 2.5rem;
  padding-top: 0.6rem;
}

#scoreboard .border-top {
  border-top: solid 1px #006c54;
}

#scoreboard .team-meta {
  min-width: 16rem;
}

#scoreboard td {
  padding: 0.5rem;
}

svg#field {
  top: -15px;
}

.balls-strikes {
  font-family: "Roboto Condensed";
  color: #666666;
  font-size: 20px;
  max-width: 38px;
  font-weight: 500;
  line-height: 0.1rem;
  top: 2rem;
  margin-left: 30px;
}

.svg-1{
  position: relative;
  float: right;
  bottom: 14.5rem;
  left: 0.5rem;
  overflow: visible;
}

.probable-pitchers {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem;
}

.prob-pitchers {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.away-probs, .home-probs {
  text-align: center;
  width: 45%; /* Adjust width for balance */
}

.pre-game-teams-away, .pre-game-teams-home {
  font-size: 20px;
  font-weight: 500;
  color: #2F4858;
  opacity: 0.69;
}

.away-name, .home-name {
  font-size: 16px;
  font-weight: 400;
  color: #46666D;
}

.pre-game-wins-loss {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 400;
  color: #2F4858;
}

.pre-game-wins, .pre-game-loss, .pre-game-stats {
  padding: 0 0.3rem;
  font-weight: 500;
}

.pre-game-era {
  font-size: 15px;
  font-weight: 500;
  margin-top: 0.5rem;
  color: #2F4858;
}

.away-pitcher-icon, .home-pitcher-icon {
  margin: 0.3rem auto;
  display: block;
  width: 50px; /* Adjust as needed */
}

.end-result {
  height: 100px; /* Increased height to accommodate save pitcher */
  margin-top: 0.2rem;
}

.final-results {
  position: relative;
}

.winning-pitcher {
  float: left;
  width: 50%; /* Adjust as needed */
}

.losing-pitcher {
  float: right;
  width: 30%; /* Adjust as needed */
}

.saves {
  clear: both;
  width: 50%; /* Aligns under winning pitcher */
  float: left;
}

.winning-pitcher-name,
.losing-pitcher-name,
.saves-pitcher-name {
  font-size: 15px;
  font-weight: 500;
  color: #2F4858;
}

.final-game-wins-loss {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #2F4858;
  font-weight: 500;
}

.win-final-game-wins, .win-final-game-losses,
.loss-final-game-wins, .loss-final-game-losses,
.final-game-saves {
  padding: 0 0.3rem;
}

.win-final-game-era, .loss-final-game-era {
  font-size: 14px;
  margin-top: 0.5rem;
  color: #2F4858;
  font-weight: 500;
}

.win-icon, .loss-icon, .saves-icon {
  display: block;
  width: 50px; /* Adjust as needed */
  margin: 1rem auto;
}

.misc-table {
  width: 49.5rem; /* Fixed width for the misc table */
  height: 55rem; /* Fixed height */
  padding: 1.5rem;
  border: solid 2px #006c54;
  z-index: 1000;
  background-color: white;
  flex-shrink: 0; /* Prevent resizing */
}

#scoreboard, .misc-table {
  justify-content: space-between;
  gap: 0.5rem;
} 
