@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------

 display none = img / team / score/ field/ inning / final

 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);

    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
}

:root {
    --wp--present--font-size--normal: 16px;
    --wp--present--font-size--huge: 42px;
}

html {
    overflow: hidden;
    overflow-y: auto;
}

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

head {
    display: none;
}

body {
    font-family: "Roboto Condensed", "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #e5decf;
    color: #222;
    line-height: 1;
    font-variant-ligatures: none;
    margin: 0 auto;
}

td, th {
  padding: 0;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

.game-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    border: 2px solid #006c54 !important;
}

.away-team-logo-feed {
    display: flex;
    align-items: center;
    right: 200px;
}

.home-team-logo-feed {
    display: flex;
    align-items: center;
    text-align: right;
}

.game-column {
    padding-left: 15px;
    padding-right: 15px;
}

.team-logo-feed {
    padding-left: 20px;
    padding-right: 10px;
}

.team-location {
    font-size: 1.0rem;
    font-weight: 300;
}

.team-name {
    font-size: 1.5rem;
    font-weight: 600;
}

.score-bug-feed {
    font-family: "Roboto Condensed";
    font-size: 3rem;
    text-align: center;
    font-weight: 300;
}

.home-team {
    padding-right: 10px;
}

.away-team-logo-feed:hover {
    transform: scale(1.1);
}

.home-team-logo-feed:hover {
    transform: scale(1.1);
}

#scoreboard {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
  margin-top: 20px;
  padding-left: 14.5rem;
  width: auto;
  height: auto;
}

.game {
  width: 500px; /* Fixed width for game display */
  height: 600px; /* Fixed height to prevent shifting */
  padding: 1.5rem;
  border: solid 2px #006c54;
  background-color: white;
  margin-right: 62rem; /* Adds space between the two elements */
}

#scoreboard table {
  font-family: "Roboto Condensed";
  font-size: 14px;
  border: none;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
}

#scoreboard .score {
  font-size: 1rem;
  text-align: center;
  min-width: 2.5rem;
  padding-top: 0.6rem;
}

#scoreboard .border-top {
  border-top: solid 1px #006c54;
}

#scoreboard .team-meta {
  min-width: 16rem;
}

#scoreboard td {
  padding: 0.5rem;
}

svg#field {
  top: -15px;
}

.balls-strikes {
  font-family: "Roboto Condensed";
  color: #666666;
  font-size: 20px;
  max-width: 38px;
  font-weight: 500;
  line-height: 0.1rem;
  top: 2rem;
  margin-left: 30px;
}

.svg-1{
  position: relative;
  float: right;
  bottom: 14.5rem;
  left: 0.5rem;
  overflow: visible;
}

.probable-pitchers {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem;
}

.prob-pitchers {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.away-probs, .home-probs {
  text-align: center;
  width: 45%; /* Adjust width for balance */
}

.pre-game-teams-away, .pre-game-teams-home {
  font-size: 20px;
  font-weight: 500;
  color: #2F4858;
  opacity: 0.69;
}

.away-name, .home-name {
  font-size: 16px;
  font-weight: 400;
  color: #46666D;
}

.pre-game-wins-loss {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 400;
  color: #2F4858;
}

.pre-game-wins, .pre-game-loss, .pre-game-stats {
  padding: 0 0.3rem;
  font-weight: 500;
}

.pre-game-era {
  font-size: 15px;
  font-weight: 500;
  margin-top: 0.5rem;
  color: #2F4858;
}

.away-pitcher-icon, .home-pitcher-icon {
  margin: 0.5rem auto;
  display: block;
  width: 50px; /* Adjust as needed */
}

.end-result {
  height: 100px; /* Increased height to accommodate save pitcher */
  margin-top: 0.2rem;
}

.final-results {
  position: relative;
}

.losing-pitcher-name {
  margin-right: 1.5rem;
}

.loss-final-game-wins {
  margin-left: 1rem;
}

.loss-final-game-losses {
  margin-right: 4.5rem;
}

.loss-final-game-era {
  margin-left: 3.5rem;
}

.winning-pitcher {
  float: left;
  width: 50%; /* Adjust as needed */
}

.losing-pitcher {
  float: right;
  width: 50%; /* Adjust as needed */
}

.losing-pitcher-name {
  margin-left: 2rem;
  width: 100%;
}

.saves {
  position: relative;
  clear: both;
  width: 50%; /* Aligns under winning pitcher */
  top: 20px;
}

.winning-pitcher-name,
.losing-pitcher-name,
.saves-pitcher-name {
  font-size: 15px;
  font-weight: 500;
  color: #2F4858;
}

.final-game-wins-loss {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #2F4858;
  font-weight: 500;
}

.win-final-game-wins, .win-final-game-losses,
.loss-final-game-wins, .loss-final-game-losses,
.final-game-saves {
  padding: 0 0.3rem;
}

.win-final-game-era, .loss-final-game-era {
  font-size: 14px;
  margin-top: 0.5rem;
  color: #2F4858;
  font-weight: 500;
}

.win-icon, .loss-icon, .saves-icon {
  display: block;
  width: 50px; /* Adjust as needed */
  margin: 1rem auto;
}

.loss-icon {
  margin-right: 7rem;
}

.saves-pitcher-name {
  margin-left: 3.7rem;
}

.final-game-saves {
  margin-left: 6rem;
  margin-top: 0.8rem;
}

.live-misc-table {
  position: relative;
  width: 740px;
  height: auto;
  min-height: 900px;
  max-height: 70rem;
  background-color: #e5decf;
  margin-left: 31rem;
  bottom: 17rem;
}

.final-misc-table {
  position: relative;
  width: 740px;
  height: auto;
  min-height: 900px;
  max-height: 70rem;
  background-color: #e5decf;
  margin-left: 31rem;
  bottom: 17rem;
}

.misc-right-side {
  position: relative;
  bottom: 31rem;
}

.pregame-misc-table {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 740px;
  height: 1300px;
  margin-left: 31rem;
  bottom: 20.5rem;
}

.pregame-positioning-misc-table {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 740px;
  height: 1300px;
  margin-left: 31rem;
  bottom: 21em;
}

.final-positioning-misc-table {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 740px;
  height: 1300px;
  margin-left: 31rem;
  bottom: 20.5em;
}

.team-color {
  width: 50%;
}

.lineup-title {
    position: absolute;
    top: 18%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Correct for the center offset */
    font-family: "Poppins";
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 0.75px;
    color: white;
    background-color: inherit; /* Optional: background to make the text stand out */
    padding: 10px;
    margin-top: -15rem;
    text-align: center;
    letter-spacing: normal;
}

.away-team-logo, .home-team-logo {
  mix-blend-mode: normal;
}

.svg-spots {
  width: 160px;
  height: 160px;
}

.home-svg {
  margin-top: 10px;
  margin-left: 12rem;
}

.away-svg {
  margin-top: 10px;
  margin-left: 12px;
}

.away-svg:hover {
  transform: scale(1.1);
}

.home-svg:hover {
  transform: scale(1.1);
}

.oval {
  width: 200px; /* Adjust width */
  height: 25px; /* Adjust height */
  margin-top: 30px;
  background-color: #fff; /* Oval color */
  border-radius: 5%; /* Creates the oval shape */
  display: flex;
  justify-content: center;
  align-items: center;
  color: black; /* Text color */
  font-size: 1rem; /* Text size */
  font-weight: 500;
  text-align: center;
}

  .oval2 {
  width: 200px; /* Adjust width */
  height: 25px; /* Adjust height */
  margin-top: -1.5rem;
  margin-bottom: 3rem;
  background-color: #fff; /* Oval color */
  border-radius: 5%; /* Creates the oval shape */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black; /* Text color */
  font-size: 1rem; /* Text size */
  font-weight: 500;
  opacity: 0.6;
}

.middle-numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.small-title, .small-title-2 {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem; /* Optional, adjust as needed */
  width: 100%; /* Take full width */
}

.oval, .oval2 {
  width: 200px;
  height: 25px;
  padding: 6px;
  background-color: #fff;
  border-radius: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
}

.lineup {
  display: flex;
  justify-content: space-between; /* Ensures items are on opposite sides */
  align-items: center; /* Vertically centers the content */
}

#numbers {
  text-align: center; /* Centers the inning numbers */
  width: 10%;
  font-family: "Poppins";
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  margin-top: 2em;
}

#awayOrder {
  display: flex;
  justify-content: flex-start; /* Align away team to the left */
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppins";
  width: 40%; /* Adjust width as needed */
  margin-top: 2em;
}

#awayField {
  margin-right: 10px;
  font-size: 15px;
  font-weight: 200;
}

#awaySide {
  margin-left: 10px;
  margin-right: 9rem;
  font-size: 15px;
  font-weight: 200;
  border-radius: 1.5em;
}

.away-progress-bar {
  position: absolute;
  width: 100px;  /* This ensures it takes up full width of its parent */
  background-color: #fff;  /* Light gray for the container background */
  height: 8px;  /* Set height for the container */
  border-radius: 1.5em;
  margin-top: 45px;  /* Add some spacing from the elements above */
  animation: load 3s normal forwards;
}

.away-progress-bar, #awaySeasonAvg {
  display: flex;
  position: absolute;
}

#awaySeasonAvg {
  font-size: 14px;
  font-weight: 400;
  transform: translateY(-50%);
  right: 7rem;
  top:5px;
}

.last10 {
  position: absolute;
  width: 150px;  /* This ensures it takes up full width of its parent */
  background-color: #fff;  /* Light gray for the container background */
  height: 8px;  /* Set height for the container */
  border-radius: 1.5em;
  margin-top: 70px;  /* Add some spacing from the elements above */
  opacity: 0.6;
}

#homeOrder {
  display: flex;
  justify-content: flex-end; /* Align home team to the right */
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppins";
  width: 40%; /* Adjust width as needed */
  margin-top: 1.5em;
}

#homeField {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 200;
}

#homeSide {
  margin-right: 10px;
  font-size: 15px;
  font-weight: 200;
}

.home-progress-bar {
  position: absolute;
  width: 100px;  /* This ensures it takes up full width of its parent */
  background-color: #fff;  /* Light gray for the container background */
  height: 8px;  /* Set height for the container */
  border-radius: 1.5em;
  margin-top: 45px;  /* Add some spacing from the elements above */
  animation: load 3s normal forwards;
}

.home-progress-bar, #homeSeasonAvg {
  display: flex;
  position: absolute;
}

#homeSeasonAvg {
  font-size: 14px;
  font-weight: 400;
  transform: translateY(-50%);
  left: 7rem;
  top:5px;
}

@keyframes load {
  0% { width: 0; }
  100% { width: .350; }
}

.lineup-table {
  justify-content: space-between;
}


table th {
  font-family: "Roboto Condensed";
  font-size: 0.85rem;
}

.th-title-header{
  text-align: center;
  border-bottom: solid 1px #006c54;
}

.tr-component-row {
  border-bottom: solid 3px #006c54;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ev-sort {
  text-align: left;
}

.ev-sort {
  cursor: pointer;
  line-height: 1.2;
  padding: 8px 3px 8px 3px;
  text-align: center;
  vertical-align: bottom;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.table-static-column {
  position: relative;
  background-color: inherit;
}

.border-left {
  border-left: solid 1px #006c54;
}

.tooltip-hover {
  position: relative;
}

.border-right {
  border-right: solid 1px #006c54;
  border-top: solid 1px #006c54;
  left: 15px;
}

#metricsContainer_th-9 {
  left: 5px;
}

#metricsContainer_th-8 {
  right: 3px;
}

#metricsContainer_th-7 {
  right: 10px;
}

#metricsContainer_th-6 {
  left: 5px;
  padding-right: 20px;
}

#metricsContainer_th-5 {
  right: 5px;
}

#metricsContainer_th-4 {
  padding-right: 20px;
  padding-left: 30px;
}

#metricsContainer_th-3 {
  padding-left: 10px;
}

#metricsContainer_th-2 {
  padding-left: 100px;
}

#metricsContainer_th-1 {
  left: 20px;
  padding-right: 10px;
}

.away-def-bg{
  display: flexbox;
  width: 100%;
  height: 46.2%;
  background-color: #002e29 !important;
  border: 2px solid #006c54;
  border-radius: 10px;
}

.home-def-bg{
  display: flexbox;
  width: 100%;
  height: 46.2%;
  border: 2px solid #006c54;
  background-color: #002e29 !important;
  border-radius: 10px;
}

#Layer_1 {
  display: flexbox;
  margin-right: 5rem;
}

.stadium-location {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid inherit;
  width: 20em;
  height: 3em;
  border-radius: 0.5em;
  margin-right: auto;
  margin-left: auto;
  bottom: 72rem;
  font-style: "Poppins";
  color: #fff;
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: -3px;
  right: 40px;
  align-items: center;
}

.city-state {
  position: relative;
  font-weight: 300;
  font-size: 34px;
  right: 10px;
  align-items: center;
}

pos-field {
  display: flex;
}

.def-position {
  width: 9%;
}

#catcher {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  bottom: 12rem;
  right: 1px;
  align-items: center;
}

#first {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  bottom: 24rem;
  left: 11rem;
}

#second {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  bottom: 41rem;
  left: 5rem;
}

#short {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  bottom: 58.5rem;
  right: 5rem;
}

#third {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  bottom: 41rem;
  right: 11rem;
}

#right {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  bottom: 90rem;
  left: 12rem;
}

#center {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  bottom: 85rem;
}

#left {
  position: relative;
  bottom: 71.5rem;
  left: 9rem;
}

.fielding-name {
  display: flex;
  font-family: "Poppins";
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1px;
}

.display-pos {
  display: flex;
  font-family: "Poppins";
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  justify-content: center;
  border: 1px solid #082533;
  border-radius: 20px;
  background: #082533;
}

.analytics-table {
  display: flex;
  position: relative;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  top: 15px;
}

.stats-table {
  display: flex;
  position: relative;
  right: 78rem;
}

.th-title-header {
  font-size: 20px;
}

.sort {
  font-size: 14px;
  padding: 24px;
  cursor: pointer;
  border-bottom: 3px solid #006c54;
}

.title-header{
  display: flex;
  font-size: 18px;
  text-align: center;
}


/* Add padding to the first header */
#th-1 {
  position: relative;
  padding-right: 135px; /* Adjust this value as needed for more space */
  text-align: left; /* Optional: Align text to the left */
  right: 30px;
}

#th-2 {
  padding-right: 10px;
}

#th-3 {
  padding-right: 1px;
}

#th-4 {
  padding-right: 100px;
}

#th-12 {
  border-top: 1px solid #006c54;
  border-right: 1px solid #006c54;
}

#th-8 {
  position: relative;
  padding-right: 80px;
  border-top: 1px solid #006c54;
  border-left: 1px solid #006c54;
  left: 20px;
}

#th-9, #th-10, #th-11 {
  position: relative;
  border-top: 1px solid #006c54;
  left: 70px;
}

#th-11 {
  position: relative;
  padding-left: 10px;
  border-right: 1px solid #006c54;
  left: 18px;
}

#th-10 {
  position: relative;
  padding-left: 30px;
  left: 30px;
}

.tr-data {
  font-size: 18px;
  text-align: center;
  padding: 0 3px 0 3px;
}

.table-team-logo {
  position: relative;
  width: 25px;
  height: 25px;
  padding-top: 1px;
  top: 4.5rem;
  right: 77rem;
}

.table-static-column {
  position: relative;
  background-color: inherit;
}


.player-mug-fixed-height {
  height: 30px;
  border-radius: 50%;
}

#batterUp {
  position: relative;
  top: 4.5rem;
  right: 77rem;
}

#plate-app {
  position: relative;
  top: 4.5rem;
  right: 70.5rem;
}

#currentInn {
  position: relative;
  top: 4.5rem;
  right: 69.3rem;
}

#result {
  position: relative;
  top: 4.5rem;
  right: 68.5rem;
}

#exitVelo {
  position: relative;
  top: 4.5rem;
  right: 64.2rem;
}

#launchAngle {
  position: relative;
  top: 4.5rem;
  right: 60rem;
}

#hitDist {
  position: relative;
  top: 4.5rem;
  right: 56rem;
}

#pitcherUp {
  position: relative;
  top: 4.5rem;
  right: 52rem;
}
