@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------

 display none = img / team / score/ field/ inning / final

 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);

    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
}


:root {
    --wp--present--font-size--normal: 16px;
    --wp--present--font-size--huge: 42px;
}

html {
    overflow: hidden;
    overflow-y: auto;
}

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

head {
    display: none;
}

body {
    font-family: "Roboto Condensed", "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #e5decf;
    color: #222;
    line-height: 1;
    font-variant-ligatures: none;
    margin: 0;
}

.game-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
}

.away-team-logo-feed {
    display: flex;
    align-items: center;
    right: 200px;
}

.home-team-logo-feed {
    display: flex;
    align-items: center;
    text-align: right;
}

.game-column {
    padding-left: 15px;
    padding-right: 15px;
}

.team-logo-feed {
    padding-left: 20px;
    padding-right: 10px;
}

.team-location {
    font-size: 1.0rem;
    font-weight: 300;
}

.team-name {
    font-size: 1.5rem;
    font-weight: 600;
}

.score-bug-feed {
    font-family: "Roboto Condensed";
    font-size: 3rem;
    text-align: center;
    font-weight: 300;
}

.home-team {
    padding-right: 10px;
}

.away-team-logo-feed:hover {
    transform: scale(1.1);
}

.home-team-logo-feed:hover {
    transform: scale(1.1);
}

#scoreboard {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-right: 47rem;
}

#scoreboard .game {
  width: 31.35rem;
  height: 31.875rem;
  padding: 1.5rem;
  border: solid 2px #006c54;
  z-index: 1000;
  background-color: white;
  margin: 0 auto;
}

#scoreboard table {
  font-family: "Roboto Condensed";
  font-size: 14px;
  border: none;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
}

#scoreboard .score {
  font-size: 1rem;
  text-align: center;
  min-width: 2.5rem;
  padding-top: 0.6rem;
}

#scoreboard .border-top {
  border-top: solid 1px #006c54;
}

#scoreboard .team-meta {
  min-width: 16rem;
}

#scoreboard td {
  padding: 0.5rem;
}

svg#field {
  top: -15px;
  margin-left: 1rem;
}

.balls-strikes {
  font-family: "Roboto Condensed";
  color: #666666;
  font-size: 20px;
  max-width: 38px;
  font-weight: 500;
  line-height: 0.1rem;
  top: 2rem;
  margin-left: 3rem;
}

#svg-1{
  position: relative;
  float: right;
  bottom: 13rem;
  left: 1.5rem;
  overflow: visible;
}

.away-pitcher-icon {
  margin-left: 1.5rem;
}

.home-pitcher-icon {
  margin-left: 2.3rem;
}

.probable-pitchers {
  height: 100px;
  margin-top: 1rem;
}

.prob-pitchers {
  position: relative;
}

.home-probs {
  float: right;
  margin-right: 3rem;
}

.away-probs {
 float: left;
 margin-left: 3rem;
}

.pre-game-teams-away {
  font-size: 20px;
  font-weight: 500;
  color: #2F4858;
  opacity: 0.69;
  margin-left: 0.8rem;
}
.pre-game-teams-home {
  font-size: 20px;
  font-weight: 500;
  color: #2F4858;
  opacity: 0.69;
  margin-left: 1rem;
}

.away-name {
  font-size: 17px;
  font-weight: 400;
  color: #46666D;
  width: 100%;
}

.home-name {
  font-size: 17px;
  font-weight: 400;
  color: #46666D; 
}

.pre-game-wins {
  float: left;
  font-size: 19px;
  color: #2F4858;
}

.pre-game-stats {
  float: left;
  color: #2F4858;
  font-size: 19px;
}

.pre-game-loss {
  font-size: 19px;
  float: left;
  color: #2F4858;
}

.pre-game-era {
  font-size: 19px;
  float: center;
  margin-left: 50px;
  color: #2F4858;
} 

.end-result {
  height: 100px;
  margin-top: 1rem;
}

.final-results {
  position: relative;
}

.winning-pitcher {
  float: left;
  margin-left: 4rem;
}

.losing-pitcher {
  float: right;
  margin-right: 5rem;
}

.win-icon {
  margin-left: 1.5rem;
}

.winning-pitcher-name {
  font-size: 15px;
  font-weight: 500;
  color: #2F4858;
  width: 100%;
}

.losing-pitcher-name {
  font-size: 15px;
  font-weight: 500;
  color: #2F4858;
  width: 100%;
}

.win-final-game-wins {
  float: left;
  font-size: 14px;
  color: #2F4858;
  font-weight: 500;
}

.win-final-game-stats {
  float: left;
  color: #2F4858;
  font-size: 14px;
  font-weight: 500;
}

.win-final-game-losses {
  font-size: 14px;
  float: left;
  color: #2F4858;
  font-weight: 500;
}

.win-final-game-era {
  font-size: 14px;
  float: center;
  margin-left: 50px;
  color: #2F4858;
  font-weight: 500;
}

.loss-icon {
  margin-left: 1.6rem;
}

.loss-final-game-wins {
  float: left;
  font-size: 14px;
  color: #2F4858;
  font-weight: 500;
}

.loss-final-game-stats {
  float: left;
  color: #2F4858;
  font-size: 14px;
  font-weight: 500;
}

.loss-final-game-losses {
  font-size: 14px;
  float: left;
  color: #2F4858;
  font-weight: 500;
}

.loss-final-game-era {
  font-size: 14px;
  float: center;
  margin-left: 50px;
  color: #2F4858;
  font-weight: 500;
}

.saves-icon {
  margin-left: 5.3rem;
}

.saves-pitcher-name {
  margin-left: 4rem;
  font-size: 15px;
  color: #2F4858;
  font-weight: 500;
}

.final-game-saves {
  margin-left: 6.3rem;
  font-size: 14px;
  color: #2F4858;
  font-weight: 500;
}
